@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="container">
    <div id="demo">
        <h2>Index</h2>
        <table id="myDataTable" class="display table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Asset Tag</th>
                    <th>PO Number</th>
                    <th>Make Model</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#myDataTable').dataTable({
                    "bServerSide": true,
                    "bJQueryUI": true,
                    "sPaginationType": "full_numbers",
                    "sAjaxSource": "LoadAssets",
                    "bProcessing": true,
                    "aoColumns": [
                        { "sName": "AssetID",
                            "bSearchable": false,
                            "bSortable": false,
                            "fnRender": function (oObj) {
                                return '<a href=\"Edit/' +
                                oObj.aData[0] + '\">Edit</a>';
                            }
                        },
                        { "sName": "AssetTag" },
                        { "sName": "PONumber" },
                        { "sName": "MakeModel" }
                    ]
                });               
            });       
        </script>
}